<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <title>Contact</title>
    <link href="{% static 'personal/css/contact.css' %}" rel="stylesheet"/>

</head>
<body>
    <div class="title">
        <h1>Contact Me</h1>
    </div>
    <div class="main-nav">
        <nav>
            <ul>
                <div class = "subwebsite">
                <li><a href="{% url 'home' %}">Home</a></li>
            </div>
            <div class = "subwebsite">
                <li><a href="{% url 'projects' %}">Projects</a></li>
            </div>
                <div class = "subwebsite">
                <li><a href="{% url 'about' %}">About</a></li>
            </div>
                <div class = "subwebsite">
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </div>
            </ul>
        </nav>
    </div>

    <div class="most-recent">
        <h2>Contact</h2>
        <h3>E-mail</h3>
        <h4>- Gmail: hjyoo2@uci.edu</h4>
        <h4>- Hotmail: dany.yoo@hotmail.com</h4>
        <h3>Phone Number</h3>
        <h4>- Not defined yet</h4>
        <h3>Social Media</h3>
        <h4>- Instagram: danyyoo0315</h4>
        <h4>- FB: Dany Yoo</h4>
        <h4>- LinkedIn: not yet</h4>
        <h3>Github</h3>
        <h4>- dont remember</h4>
        


        
    </div>

    

</body>
</html>