{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Projects</title>
    <link href="{% static 'personal/css/projects.css' %}" rel="stylesheet"/>

</head>
<body>
    <div class="title">
        <h1>My Projects</h1>
    </div>
    <div class="main-nav">
        <nav>
            <ul>
                <div class = "subwebsite">
                <li><a href="{% url 'home' %}">Home</a></li>
            </div>
            <div class = "subwebsite">
                <li><a href="{% url 'projects' %}">Projects</a></li>
            </div>
                <div class = "subwebsite">
                <li><a href="{% url 'about' %}">About</a></li>
            </div>
                <div class = "subwebsite">
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </div>
            </ul>
        </nav>
    </div>

    <div class="most-recent">
        <h2>My Projects</h2>
        <h3>Python</h3>
        <ul>
            {% for obj in object_list %}
            <li><a href="{{ obj.get_absolute_url }}" color="white">{{ obj.title }}</a></li>
            {% endfor %}
        </ul>
        
    </div>

    <div class="introduction">
        <h2>{{ object.title }}</h2>
        <h3>{{ object.language }} </h3>
        <h3> {{ object.description }}</h3>
        {% if object.preview_image %}
            <img src="{{ object.preview_image.url }}" alt="Preview Image" width = 50% height = 30%/>
        {% endif %}
        <h3>Download file : <a href="{{ object.file.path }}" download> {{ filename }} </a> </h3>
    </div>
    

</body>
</html>